body{
	background-color: #e0e0e0;
}
.container{
	display: flex;
	width:100%;
	flex-direction: column;
}
.container .container-steps{
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
}
.container .container-steps .list-steps{
	display: flex;
	list-style: none;
	width: 100%;
	flex-direction: row;
	padding-left: 0px;
	justify-content: space-around;
}
.container .container-steps:after{
	content: "";
	width: 100%;
	height: 1px;
	background-color: #424242;
}
.container .container-steps .list-steps .step{
	display: flex;
	justify-content: center;

	background-color: green;
	width: 30px;
	height: 30px;
	border-radius: 50px;
	border-width: 10px;
	border-color: green;
	background-color: #607d8b;
}
.container .container-steps .list-steps .step.element-1{

}
.container .container-steps .list-steps .step a{
	align-self: center;
	text-decoration: none;
	color:white;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 11px;
	padding-right: 11px;
		
}
.container .container-steps .list-steps .step a:before{
	content: "";
}
.container .controls{
	margin-top: 26px;
	display: flex;
	justify-content: flex-start;
}
.container .controls .controls-holder{
	display: flex;
	width: 100%;
	justify-content: space-around;
	/*background-color: green;*/
}
.container .controls .controls-holder .viewport{

}
.container .controls .controls-holder .form-holder {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
}
.container .controls .controls-holder .form-holder .form-selection{
	height: 100%;
}
.container .controls .controls-holder .form-holder .form-selection .grid{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	padding-left: 0px;
	margin-top: 10px;
	margin-bottom: 0px;
	list-style: none;
	/*height: 98%;*/
}
.container .controls .controls-holder .form-holder .form-selection .grid .element{
	/*position: absolute;*/
	margin-left: 5px;
	margin-right: 5px;
	
}
.container .controls .controls-holder .form-holder .form-selection .grid .element:hover{
	width: 170px;
	height: 170px;
	transition:width 2s,height 2s;
}
.container .controls .controls-holder .form-holder .button-holder{
	display: flex;
	justify-content: center;
}
.container .controls .controls-holder .form-holder .button-proceed{
	background-color: #0277bd;
	color: white;
	width: 100px;
	height: 50px;
	font-size: 15px;
	border-radius: 5px;
	border-color: #0277bd; 
	border-style: solid;
}
